@charset "UTF-8";
/* CSS Document */

/*Remove this rule, this is only for demo purposes to make the boxes black with white text
The line height on the <p> tag gives each box a height value*/

p
{
	color: #454545;
/*	line-height: 100px;
	background: #000;*/
	text-align: center;
	margin: 0;
}

/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0;
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #454545;
	background-color: #f1f1f1;
}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
 	text-decoration:none;	
}

a:hover, a:active 
{ 
	text-decoration:none; 
	color: #daa520;
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specidied therefore stretches full screen*/
#topBar
{
	background-color: #000;
	height: 20px;
}

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 920px;
	padding-left: 20px;
	padding-right: 20px;
	
}

/*This is a flex container*/
#mainHeader
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #DDD;
}

/*This is a flex item*/
#logo
{
	width: 200px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/

#mainNav
{
	width: 445px;
	height: 0px;
	margin-top: 63px;
	margin-left: auto;

}
#mainNav ul
{
	list-style-type: none;
	padding: 0;
}

#mainNav ul li
{
	display: inline;
	padding: 20px;
	font-size: 20px;
	font-family: "Helvetica";
	



    /*list-style: none;*/
	/*flex: end;*/
    /*margin-left: auto;*/
	/*width: 500px;*/
	/*color: #454545; */
    /*margin: 0px; */
	/*padding: 40px; */
}


#mainNav ul li a:hover
{
	color: #0c120a;
}

#mainNav ul li a
{
	color: #1b5644;

}

#accountIcon 
{
	display: inline;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;

}


#accountIcon li img
{
	padding: 3px;
    margin-right: 16px;
}



#promo 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#promo p 
{
	line-height: 250px;
}

#promoText 
{
	width: 600px;
}

#promoImage 
{
	margin-left: auto;
	width: 280px;
}

#productInfo 
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height to productInfo*/
#productInfo p 
{
	line-height: 20px;
	text-align: left;
	font-size: 15px;
	font-family: "Helvetica"
}

.productDesc 
{
	width: 200px;
}

#mainFooter 
{

	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
  	/*justify-content: flex-start;*/
  	background-color: #9a9e8d;
  	
}




#mainFooter ul li 
{
	list-style-type: none;
	display:inline;
	padding: 0px;
	font-family: "Helvetica";
	font-size: 16px;
}

#mainFooter ul li a:hover
{
	color: #1b5644;
}

#mainFooter ul li a
{
	color: #0c120a;
}

.FooterNav ul
{
	padding: 0px;
	margin: 10px;

}

.FooterNav ul li

{
	margin-right: 30px;
}

.socialMedia 
{
	list-style-type: none; 
}


.socialMedia ul  
{
	padding: 0px;
	margin: 10px;
	margin-bottom: 20px;

}

.socialMedia ul li
{
	margin-right: 10px;

}

#copyRight 
{
	margin-left: auto;
	width: 310px;
	color: #454545;
	margin-bottom: 10px;
	margin-top: 50px;
	font-size: 13px;
}

/*Page 2 - Notice we are using one style sheet for all of the pages*/




#contentCon
{
	width: 940px;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#content1
{
	display: flex;
	flex: start;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 30px;
}


#content1 h2 
{
	margin-top: -30px;
	display: flex;
	flex: start;
	margin-left: 15px;
	font-size: 36px;
	font-family: "Helvetica-bold";


	/*width: 440px;*/
}


.productDescLargeLeft 
{
	width: 410px;
}

.productDescLargeRight 
{
	width: 410px;
}

#supplements
{
	margin-top: 115px;
}
#mainContact
{
	width: 940px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#contact
{
	margin-left: 15px;
	line-height: 25px;

}


#mapArea h3
{

   
}
#mapArea
{
	width: 380px;
	margin-left: 50px;
	margin-right: 50px;
}

#mapArea ul
{
	list-style-type: none;
	padding: 0px;
}

#mapArea ul li
{
	font-size: 15px;
	line-height: 25px;

}

#mapArea h2 
{
	font-size: 21px;
	margin-top: 0px;
	color: #505050;
	text-align: left;
	font-family: "Helvetica-bold";
	font-size: 24px;
}


